<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />

    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".final_confirmation"
            android:exported="false" />
        <activity
            android:name=".confirmationActivity"
            android:exported="false" />
        <activity
            android:name=".schedule_temp_time"
            android:exported="false" />
        <activity
            android:name=".schedule_knob_time"
            android:exported="false" />
        <activity
            android:name=".schedule_temp"
            android:exported="false" />
        <activity
            android:name=".schedule_knob"
            android:exported="false" />
        <activity
            android:name=".manual_temp"
            android:exported="false" />
        <activity
            android:name=".manual_knob"
            android:exported="false" />
        <activity
            android:name=".schedule_set"
            android:exported="false" />
        <activity
            android:name=".manualSet"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>